$step: 8px;

$mobile: 500px;

$z-index-foreground: 100;
$z-index-background: 10;
$z-index-modal: 1000;
$z-index-dropdown: 500;
$z-index-tooltip: 10000;
$z-index-overlay: 100000;

$color-dark: #2a2b2e;
$color-highlight: #8edce6;
$color-grey: #a7b0ca;
$color-light: #d5dcf9;
$color-main: #05668d;
$color-paper: #edf0fc;
