@import 'variables';
@import 'mixins';

.a4-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  grid-area: 1 / 1 / span 4 / span 2;
}

.a4-container p {
  border-radius: $border-radius;
  box-shadow: $shadow;
  padding: $step;
}

.phone {
  @include link-colors;
  font-family: var(--font-pt-mono);
  font-size: 0.8em;
  white-space: nowrap;
}
