.form-container {
  display: flex;
  flex-direction: column;
  /* margin: auto; */
}

.form-label {
  font-size: 16px;
  margin: 5px;
}

.form-input {
  padding: 10px;
  /* font-size: 14px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  max-width: 400px;
  overflow-y: hidden;
  resize: none;
  /* min-height: 50px; */
}

.form-input:focus {
  border-color: #007bff;
}

.form-list {
  border-color: #007bff;
}

.form-text {
  height: 50px;
}
