@import 'variables';
@import 'mixins';

.baseboard {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  padding: 0 $step * 2;
  color: $color-main;
  box-shadow: -10px -10px 20px rgba(141, 38, 61, 0.1);
}

.icons-container {
  opacity: 0.7;
  display: flex;
  align-items: center;
  gap: $step;
  font-size: 2rem;
}

.icons {
  display: flex;
  gap: $step;
}

.link {
  @include link-colors;
}
