@import 'variables';
@import 'mixins';

.baseboard {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  padding: 0 $step * 2;
  color: $color-main;
  box-shadow: -10px -10px 20px rgba(141, 38, 61, 0.1);

  p {
    @media (max-width: $mobile) {
      font-size: 0.5em;
    }
  }
}

.icons-container {
  display: flex;
  align-items: center;
  gap: $step;
  font-size: 2em;
  @media (max-width: $mobile) {
    font-size: 1em;
  }
}

.icons {
  display: flex;
  gap: $step;
}

.link {
  @include link-colors;
}
