@import 'variables';
.grid-container {
  padding: 0px $step * 5 $step * 5;
  position: relative;
  background-color: white;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 2fr;
  gap: 10px;
  box-shadow: 10px 5px 20px 0px rgba(0, 0, 0, 0.5);
}

.grid-header {
  grid-column: span 2;
  justify-self: start;
}

@media (max-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .grid-header {
    grid-column: span 1;
  }
  .grid-container > :nth-child(even) {
    justify-self: normal;
  }
}
