.grid-container {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 2fr;
  gap: 10px;
}

.grid-header {
  grid-column: span 2;
}
.divider {
  grid-column: 1 / -1; /* Spans from the first to the last column */
  height: 2px; /* Set height as desired */
  background-color: #000; /* Set color as desired */
}

@media (max-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .grid-header {
    grid-column: span 1;
  }
  .grid-container > :nth-child(even) {
    justify-self: normal;
  }
}
/* .centered {
  text-align: center;
} */
