@import 'variables';
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $color-light;
  background: linear-gradient(
    300deg,
    rgba(249, 233, 236, 0.8) 0%,
    rgba(255, 233, 205, 0.8) 30%,
    rgba(248, 235, 206, 0.8) 50%,
    rgba(249, 233, 236, 0.8) 100%
  );
  color: $color-dark;
}

h1 {
  text-align: center;
}

textarea {
  font-family: inherit; /* Use the same font as the body */
}

/* Style the placeholder text in the textarea */
textarea::placeholder {
  font-family: inherit; /* Use the same font as the body */
  /* Add any other styles you want for the placeholder text */
  color: #999;
}

input {
  font-size: 1em;
  font-family: 'PT Mono', monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

label {
  word-break: break-word;
}

.divider {
  grid-column: 1 / -1;
  height: 20px;
  width: calc(100% + $step * 4);
  transform: translate(-$step * 2, -20px);
  border-bottom-left-radius: $border-radius; /* Adjust as per your needs */
  border-bottom-right-radius: $border-radius; /* Adjust as per your needs */
  box-shadow: 0px 10px 10px rgba(165, 48, 48, 0.15);
}

.selected {
  color: $color-main;
  border-width: 0px 0px 3px 0px;
  border-style: solid;
}

.checked {
  color: $color-main;
}
