@import 'variables';

.board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  place-items: center;
  gap: $step * 4;
  padding: $step * 4;
  @media (max-width: $mobile) {
    padding: 0;
    margin: 0;
  }
}
